NEXTCLOUD_BASE_URL=
NEXTCLOUD_USERNAME=
NEXTCLOUD_PASSWORD=
NEXTCLOUD_PUBLIC_PASSWORD=

NEXTCLOUD_WEBDAV_ROOT="/remote.php/dav/files/${NEXTCLOUD_USERNAME}"

NEXTCLOUD_VERIFY_SSL=false
REQUEST_TIMEOUT=60